.nav__container {
    padding: 1rem;
    position: sticky;
    top: 0;
    background-color: var(--background-color)
}

.nav__container--nav-list ul {
    display: flex;
    align-items: center;
}

.nav-list--item__icon--wrapper {
    padding: 1rem 0rem 1rem 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav-list--item__icon--wrapper:hover {
    color: var(--primary-color);
}

.nav-list--item__icon--wrapper span {
    display: flex;
    justify-content: center;
}

.nav-list--item__icon--wrapper .icon {
    font-size: 2rem;
    color: var(--secondary-color);
}

.nav-list--item__icon--wrapper .icon:hover {
    color: var(--secondary-color);
}

.icon--text {
    text-align: center;
    font-size: 1.2rem;
}

.nav__container--nav-list ul .nav-list--item__icon--wrapper .btn {
    font-size: 1.5rem;
    color: var(--card__action--btn-bg);
}

.notification-badge {
    color: var(--primary-color-dark);
    font-size: 1.25rem;
    padding: 0.75rem;
    height: 1.25rem;
    width: 1.25rem;
    top: -1.2rem;
    left: 1.2rem;
    border-radius: 1rem;
}

#mode--btn {
    font-size: 200%;
    color: var(--foreground-color);
    cursor: pointer;
}

@media (max-width: 400px) {
    .nav__container {
        flex-direction: column;
        background-color: var(--main-bg);
        height: auto;
    }
    .nav__container .searchbar__container {
        width: 100%;
    }
    .nav__container {
        padding: 0 1rem;
        position: relative;
    }
    .nav__container--nav-list {
        display: flex;
        padding: 0;
    }
    .nav__container--nav-list ul .nav-list--item__icon--wrapper .btn {
        font-size: 1.25rem;
        padding: 0.5rem;
        min-width: 5rem;
    }
    .nav__container--nav-list ul .nav-list--item__icon--wrapper .icon>* {
        font-size: 1.2rem;
        padding: 0.65rem;
    }
    .icon--text {
        font-size: 0.95rem;
    }
}